[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
matplotlib = "*"
scikit-learn = "*"
transformers = "*"
ipywidgets = "*"
torchsample = {editable = true, git = "https://github.com/ncullen93/torchsample.git"}
nibabel = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
